
.grid--bb{
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);

}
.header{
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    background-color:var(--white-color);
    height: var(--header-height);
    box-shadow: 1px 1px 2px #ddd;
}
.content__header {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
.content__header .row {
    display: flex;
    justify-content: space-between;
}
.header__list{
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
.header__logo-link:hover path{
    fill: var(--primary-color);
}
.header__logo-link{
    width: 70px;
    height: 70px;
    display: block;
    padding: 10px 10px;
    background-color: #e5e5e5;
    border-radius: 40px;
    padding: 10px;
}
.header__input-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 613px;
    height: 48px;
    margin-left: 14px;
}
.header-input{
    font-size: 1.6rem;
    border: none;
    font-weight: 600;
    color: var(--text-color);
    padding-left: 14px;
    outline: none;
}
.abc{
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    width: 48.5%;
}
.header__date-user{
    color: var(--text-color);
    font-size: 1.3rem;
    flex: 3;
    font-weight: 600;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.header__date-user-lable{
    margin-right: 18px;
}
.header__date-user-icon::after{
    content: "";
    position: absolute;
    border-left: 1px solid #ccc;
    height: 30px;
    left: -11px;
    top: 50%;
    transform: translateY(-50%);
}
.header__date-user-icon{
    font-size: 1.6rem;
    margin-right: 8px;
}
.header__search-btn{
    width: 56px;
    height: 36px;
    margin: 0 4px;
    background-color: #555;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}
.menu__tablet-mobile{
    padding-left: 10px;
    display: none;
}
.menu__tablet-mobile-icon{
    font-size: 2.6rem;
    padding: 8px 10px;
}

/* sub nav */
.sub__nav-number-user{
    padding: 12px;
    margin-top: 12px;
    position: absolute;
    top: 59px;
    left: 688px;
    width: 320px;
    height: 232px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 30%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: initial;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    z-index: 9;
}

.sub__nav-user{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    justify-content: space-between;
    font-size: 1.6rem;
    color: var(--text-color);
}
.sub__nav-select{
    flex: 1;
}
.sub__nav-select h5{
    font-size: 1rem;
    color:rgba(0, 0, 0, 0.5);
}
.sub__nav-select-user{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
}
.sub__nav-select-number{
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}
.sub__nav-number-btn{
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    cursor: pointer;
    
}
.sub__nav-number-btn:hover .sub__nav-number-icon{
    color: var(--primary-color);
}

.sub__nav-number-icon{
    font-size: 1.1rem;
    color: #999;
}
.sub__nav-amt{

}
.sub__nav-number-amt{
    font-size:2rem;
    color:var(--text-color)
    
}
.select__opt{
    cursor: pointer;
}
.select__opt--active{
    color: var(--primary-color);
}
.menu-checkbox:checked ~ .header__list--block{
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    left: 0;
}
.menu-checkbox:checked ~ .mobiletb__overlay{
    display: block;
}

.header__user-checkbox:checked ~ .sub__nav-number-user{
    visibility: visible;
    opacity: 1;
}
.header__navbar-link:hover{
    color: #f65e39;
}
.header__navbar-list{
    font-size: 1.6rem;
    list-style: none;
    font-weight: 500;
    padding: 5px 10px;

}
.header__navbar-list--active::after{
    content: "";
    position: absolute;
    left: 32px;
    top: -5px;
    border: 1pc solid #fb9236;
    border-width: 3px;
    border-radius: 50%;
}
.header__navbar-link{
    text-decoration: none;
    color: var(--text-color);
    position: relative;
}
.header__navbar-item{
    padding: 0 8px;

}
.header__navbar-price:hover{
    cursor: pointer;
}
.header__navbar-price{
    padding: 5px 10px 5px 5px;
    background-color: #f3f3f3;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    align-items: center;
    height: 34px;
}
.header__navbar-price-text{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 5px;
}
.header__navbar-price-icon{
    font-size: 2rem;
    padding-bottom: 10px;
}
.header__navbar-img{
    width: 25px;
    height: 25px;
}
/* sub__navbar-price */
.sub__navbar-price{
    padding: 0 16px;
    display: flex;
    position: absolute;
    top: 70px;
    right: 251px;
    width: 470px;
    height: 154px;
    background-color:var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: all ease-in 0.4s;
    z-index: 9;
    
}
.navbar-price-checkbox:checked ~ .sub__navbar-price{
    visibility: visible;
    opacity: 1;
}

.sub__navbar-price::after{
    content: "";
    position: absolute;
    right: 35px;
    top: -9px;
    border: 1px solid;
    width: 15px;
    height: 15px;
    border-color: #ccc transparent transparent #ccc;
    background-color:var(--white-color);
    transform: rotate(45deg);
}
.sub__navbar-price-c2{
    padding: 0 8px;
    width: 226px;
    height: 136px;
}
.sub__navbar-price-c22{
    padding: 0 8px;
    width: 226px;
    height: 136px;
}
.sub__navbar-price-c22::after{
    content: "";
    position: absolute;
    border-left: 1px solid #ccc;
    height: 120px;
    left: 240px;
    top: 50%;
    transform: translateY(-50%);

}

.sub__navbar-language{
    width: 210px;
    padding: 8px 0;
    margin-bottom: 8px;
    height: 40px;
    display: flex;
    align-items: center;
}
.sub__navbar-language:hover .sub__navbar-language-name{
    cursor: pointer;
    color: var(--primary-color);
}
.sub__navbar-language h5{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-color);
}
.sub__navbar-language-img{
    width: 16px;
    height: 16px;

}
.sub__navbar-language-name{
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 12px;

}
.sub__navbar-language-icon{
    font-size: 0.8rem;

}
/* container */
.container{
    border-bottom: 1px solid #7e7e7e;
}
/* slide */
.slide{
    height: 264px;
    margin-top: 100px;
    cursor: pointer;
}
.slide__img{
    height: 100%;
    width: 100%;border-radius: 10px;
}
/* greeting__section */
.greeting__section{
    margin-top: 70px;
    width: 100%;;
}
.greeting__section-heading{
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 14px;
}
.greeting__section-text{
    font-size: 1.6rem;
    line-height: 5rem;

}
.greeting__section-select{
    font-size: 1.6rem;
    margin-bottom: 16px;
}
.greeting__select-link{
    font-size: 1.7rem;
    color: var(--text-color);
}
.greeting__select-link:hover{
    color: var(--primary-color);
}
/* title */
.title{
    color: var(--text-color);
    margin-top: 34px;
}
.title__place{
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 5rem;
}
.title p{
    font-size: 1.6rem;
}
/* slide__place */

.slide__place{
    position: relative;
        margin-left: -4px;
        margin-right: -4px;
    margin: 20px 0 0 0 ;
    
}
.slice__place-hot{
    position: relative;
    cursor: pointer;

}
.slice__place-img{
    width: 100%;
    height: 308px;
    border-radius: 6px;

}
.slice__place-name{
    position: absolute;
    bottom: 32px;
    left: 32px;
    color: var(--white-color);
}
.name-place{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 14px;
}
.name-place ~ p {
    font-size: 16px;
}
/* offer big */
.flex__between{
    height: 62px;
    margin-top: 60px;
    color: var(--text-color);
    width: 100%;
}
.flex__between p{
    font-size: 1.6rem;

}
.title-h3{
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 18px;
}
.between{
    display: flex;
    justify-content: space-between;
}
.between p{
    font-size: 1.6rem;
}
.between a{
    font-size: 1.6rem;
    color: var(--primary-color);
}
.offer-big{
}
.offer-big-link{
    text-decoration: none;

}
.offer-big-img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
/* uggested__place */
.suggested{
    position: relative;
    width: 100%;
    margin-bottom: 70px;
}
.suggested__place{
    color: var(--text-color);
    font-size: 1.4rem;
    cursor: pointer;
}
.suggested__place-img{
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 78%;
    border-radius: 4px;
}
.place-title{
    margin-bottom: 8px;
}
.place-text{
    margin-bottom: 16px;
    font-weight: 500;
}
/* suggestion__discovery */
.suggestion__discovery{
    width: 100%;
    height: 258px;
    color: var(--white-color);
    margin-top: 10px;
}
.suggestion__discovery-place{
    cursor: pointer;
    border-radius: 4px;
    height: 100%;
    padding-top: 62%;
    position: relative;
    background-image: linear-gradient( 180deg, #eee, #7e7e7e);
}
.infor-homestay{
    height: 24px;
    width: 50%;
    position: absolute;
    top: 20px;
    left: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.2);
    border-radius: 40px;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
}
.infor-homestay:hover{
    background-color: #555;
}
.infor-place{
    font-size: 1.6rem;
    position: absolute;
    left: 24px;
    bottom: 24px;
    font-size: 1.8rem;
    font-weight: 600;
}

/* user__manual */
.user__manual{
    width: 100%;
    padding-top:0%;
    margin-bottom: 40px;
}
.user__manual-link{
    width: 100%;
    background-position: 50%;
    display: inline-block;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.user__manual-img{
    border-radius: 4px;
    height: 130px;
    width: 100%;
    background-size: cover;
}
/* footer */
.footer{
    width: 100%;
    height: 590px;
    margin-top: 64px;
}
.logo-app{
    width: 100%;
    height: 100%;
}
.logo__slogan{
}
.logo__slogan-img{
    display: block;
    width: 50%;
    height: 70px;
    margin-bottom: 18px;
}
.sologan-heading{
    display:flex;
    font-size: 3rem;
    width: 100%;
    height: 38px;
    color: var(--text-color);
    margin-bottom: 25px;
    align-items: center;
}
.sologan-heading ~ p{
    display: block;
    width: 100%;
    height: 72px;
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 16px;
    line-height: 1.4;

}
.download__qr-app{
    margin-top: 70px;
}
.download__qr{
}
.download__qr-img{
    width: 180px;
    height: 180px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);

}
.dowload__app{

}
.download__app-img{
    margin-bottom: 30px;
}
.col-right-img{
    width: 100%;
    height: 590px;

}
/* footer__app */
.footer__app{
    padding-top: 48px;
}
.footer__app-heading{
    font-size: 1.5rem;
    font-weight: 550;
    margin-bottom: 10px;
}
.messenger-infor{
    display: flex;
    align-items: center;
    margin-top: 16px;
}
.messenger{
    font-size: 1.4rem;
    color: var(--text-color);
}
.messenger-infor-icon{
    font-size: 2.4rem;
    padding-right: 8px;
    fill: red
}
.messenger-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    line-height: 1.8;
}
.messenger-link:hover{
    color: var(--primary-color);
}
.homestay__place-list{
    list-style: none;
}
.homestay__place-item{
}
.homestay-place-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    height: 34px;
    width: 100%;
    display: block;
    display: flex;
    align-items: center;
}
.homestay-place-link:hover{
    color: var(--primary-color);
}
.footer__download-app{
    margin-top: 24px;

}
.qr-code{
    width: 100px;
    height: 100px;
    padding: 12px;
    border: 1px solid #ccc;

}
.app-download{
    width: 104px;
    height: 32px;
    padding: 0 8px;
    margin-bottom: 16px;
    cursor: pointer;
}
/*footer__late  */
.footer__late{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 48px;
}
.footer__late-transaction{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__late-secure{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 550;
    margin-bottom: 20px;
}
.footer__late-secure-text{
}
.footer__late-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer__late-flex-item{
    padding: 0 8px;

}
.footer__late-link{
    display: block;
}
.footer__late-img{
    width: 94px;
    height: 35px;
    padding: 0 8px;
}
.footer__late-follow-link{
    text-decoration: none;
    color: var(--text-color);
    width: 30px;
    height: 30px;

}
.footer__late-follow-icon{
    font-size: 2.6rem;
    color: #484848;
    padding: 0 8px;

}

/* end__page */
.end__page{
    padding: 25px 18px;
    border-top: 1px solid #ccc;
    height: 125px;
}
.end__page-text{
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 1.8;
    display: flex;
    justify-content: center;
}
.box__chat{
    position: fixed;
    bottom: 0;
    right: 55px;
    width: 288px;
    height: 30px;
    background-color:#4f466b;
    display: flex;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.box__chat-link{
    display: flex;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}
.box__chat-icon{
    margin: 0 12px;
    font-size: 1.6rem;
    color: var(--white-color);
}
/* code js */
.next__btn, .prev__btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    z-index: 999;
    background: rgba(255, 255, 255, 0.747);
    font-size: 20px;
}
.next__btn {
    left: auto;
    right: -20px;
} 
.slide {
}